html, body, app-root, .site{
  margin: 0;
  width: 100%;
  min-height: 100%;
}
.site {
  position: relative;
}
main {
  background-color: #f8f8f9;
}

.rightBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 38px;
  height: 100%;
  background-color: #FFB717;
  z-index: 9999;
}

//.main {
//  background-color: #fcc;
//
//}

//.site {
//  display: -ms-flexbox;
//  display: -webkit-flex;
//  display: flex;
//  flex-direction: column;
//}

//main {
//  -ms-flex: 1;
//  -webkit-flex: 1;
//  flex: 1;
//  display: -ms-flexbox;
//  display: -webkit-flex;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//
//}

//.full-width {
//  width: 100%;
//}
