$fontcolory: #FF9900;
$backcolordg: #f2f2f2;
$bordercolor: #cccccc;
$fontcolorg: #363636;
$color: #4cdbec;
.my-content{
  width: 944px;height: 822px;background: white;
}
header{color: $fontcolory;border-bottom: 2px solid $fontcolory;padding: 10px;}
.item-title{height: 52px;line-height: 52px;background-color: #f2f2f2}
.item-title .time{margin: 0 20px 0 15px;}
.biding-content{background-color: $backcolordg;padding: 0 4px 8px 4px;overflow: hidden}
.pull-left{padding: 10px;background-color: white;
}
small{padding: 3px 6px;background-color: #e4e4e4;margin-right: 5px;border-radius: 4px;
}
.center-text{padding:0px;padding-top: 10px;}
.center-text div{border-left:1px solid $bordercolor;border-right:1px solid $bordercolor;height:96px;padding-top: 25px;text-align: center;width: 158px }
.center-text div p{color: $color;margin-bottom: 0;}
.center-text .contract{border-left-width: 0px; padding-top: 12px;}
.center-text .contract p{color:$fontcolorg }
.center-text div span{color: $color}
.center-text div small{background-color: white}
.center-right{width:212px;height: 163px;}
.center-right div{
  width: 274px;overflow: hidden;margin: auto
}
.center-right .btn-default{
  height: 32px;
  line-height: 11px;
  width: 89px;
  background-color: $color;
  border-width: 0;
  display: block;
  margin: auto;
  color: white;
  margin-top: 60px;
  cursor:default;
}
.count span{color: $fontcolory}
.first-pay{border-top:1px solid $bordercolor;clear: both}
.first-pay .pull-left{height: 56px;}
.first-pay .center-text{padding-top: 0}
.first-pay .center-text div{height:56px;line-height: 10px;}
.first-pay .center-text div span{color: $color}
