div.header {
  width:100%;
  height: 96px;
  background: #f8f8f9;
}
div.body {
  width:100%;
  height:548px;
  background: #33cccc;
  background-image: url("http://placehold.it/421x378");
  background-repeat: no-repeat;
  background-position: 319px 70px;
}
div.footer {
  width:100%;
  height:80px;
  background: #f8f8f9;
}
div.step {
  background: #f8f8f9;
  width: 100%;
  height: 104px;
}
a:link {
  color:#6D6D6D;
  text-decoration: none;
}
//a:link.yellow {
//  color:#FFB717;
//  text-decoration: none;
//}
.col-md-10 {
  height:2px;
}
.line {
  height:1px;
  background: #A1A1A1;
  margin-top:12px;
}
input {
  border-width:0;
}
.loginPart {
  width:348px;
  height:390px;
  margin-left: 860px;
  background: #fff;
  //margin-top:70px;
}

.form-control {
  box-shadow: none;
  border:none;
}
label, span {
  color:#6D6D6D;
}
.btn-primary {
  background-color:#33cccc;
  border-color:#33cccc;
}
.btn-default {
  border:none;
}
.form-group input {
  height:42px;
  line-height:42px;
  text-align: left;
  vertical-align: baseline;
  //background-image: url("http://placehold.it/44x42");
  background-repeat: no-repeat;
}
.form-group {
  height:44px;
  vertical-align:middle;
  border:1px solid #ccc;
  margin-bottom: 30px;
}



