div.header {
  width:100%;
  height: 96px;
  background: #33cccc;
}
div.body {
  width:100%;
}
div.footer {
  width:100%;
  height:80px;
  background: #f8f8f9;
}
div.step {
  background: #f8f8f9;
  width:100%;
  height:104px;
}
.round {
  width:28px;
  height:28px;
  border-radius: 50%;
  background: #AEAEAE;
}
.round.blue {
  width:28px;
  height:28px;
  border-radius: 50%;
  background: #33cccc;
}
.round span {
  color:#fff;
  margin:10px;
  vertical-align: sub;
}
a.yellow:link {
  color:#FFB717;
  text-decoration: none;
}
//a:link {
//  color:#6D6D6D;
//  text-decoration: none;
//}
.col-md-10 {
  height:2px;
}
.line.on {
  height:2px;
  background: linear-gradient(to right,#33cccc,#fff);
  margin:12px;
}
.line {
  height:2px;
  background: linear-gradient(to right,#AEAEAE,#fff);
  margin:12px;
}
input {
  border-width:0;
}

.form-control {
  box-shadow: none;
  border:none;
}
label, span {
  color:#6D6D6D;
}
.btn-primary {
  background-color:#4DBECD;
  border-color:#4DBECD;
}
.btn-default {
  border:none;
}
.form-group label, .form-group input {
  height:42px;
  line-height:42px;
  text-align: left;
  vertical-align: baseline;
}
.form-group {
  height:44px;
  vertical-align:middle;
  border:1px solid #ccc;
  margin-bottom: 30px;
}
input[type="radio"], input[type="checkbox"] {
  width:18px;
  height:18px;
  //color:#4DBECD;
}
.dropdown-menu {
  left:-50px;
  width: 30px;
  min-width:102px;

}
.modal-content {
  width:916px;
  height:819px;
  background-color: #000;
  position:relative;
  border:1px solid #000;
  border-radius: 0;
  right:10%;
  top:1%;
}
.modal-body {
  margin-top:20px;
  width:100%;
  height:661px;
  padding-bottom:0;
}
//.glyphicon {
//  top:300px;
//}
.modal-footer {
  text-align: left;
  //padding-top:0;
}
img.on {
  border:2px solid #4DBECD;;
}
.modal-header {
  padding-bottom:0;
}

.selectFile{
  width: 80px;
  height: 30px;
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
}
.newFile{
  width: 80px;
  height: 30px;
  color:#FFB717;;
  background: #fff;
  display: inline-block;
  text-align: left;
  margin-left:5px;
  line-height: 30px;
  text-decoration: underline;
}
.img{
  width: 100px;height: auto;margin-right: 10px;display: inline-block;float: left;position: relative;
}
.file-div{
  position: relative; width: 80px;height: 60px;display: inline-block;float: left;text-align: center;
}
.file-div span{font-size: 12px;}
 li.on {
  background-color: #fff;
}
.carousel-indicators {
  left:36%;
}
ol.carousel-indicators li {
  width:46px;
  height:41px;
  border-radius: 0;
  background: url("http://placehold.it/46x41");
}
ol.carousel-indicators li.active {
  border:1px solid #33cccc;
}
i.glyphicon.glyphicon-trash {
  top:-80px;
  left:450px;
  padding:5px;
  border:1px solid #000;
  border-radius: 50%;
}
button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

button.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after{
  content: "\2212";
}

div.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-bottom:0;
}
button.accordion[_ngcontent-c2] {
  padding: 5px;
}
button.accordion.none[_ngcontent-c2]:after {
  content:'';
}
