<section [class.s-active]="seFlag" (mouseover) = "mouseOver()" (mouseout) = "mouseOut()">
  <div class="imgCo">
    <img src="http://placehold.it/160x160" alt="标的图片" (click)="gotoDetail()">
    <div class="mask">
      <img src="http://placehold.it/78x78" alt="标的状态">
    </div>
  </div>

  <p>我出价：<span>¥5675.00</span></p>
  <p>SCBH15-200kVA</p>
  <p>订单量：2000件</p>
  <p>交货期：2017-1-21</p>
  <p>协议号：15648975726667</p>
  <div class="btnCo">
    <button disabled>国标</button>
    <button disabled>全铜</button>
    <button disabled>10/0.4KV</button>
    <button disabled>阻抗4%</button>
    <button disabled>温升100K</button>
  </div>
  <div>
    <app-stepper></app-stepper>
    <button>我要竞标</button>
  </div>
  <div>
    <app-final-price [finalPrice]="myfinalPrice"></app-final-price>
    <!--<button class="btn btn-default btn-block" [class.action]="flag">一口价</button>-->
  </div>
</section>
