<!--<p>-->
  <!--login works!-->
<!--</p>-->
<div class="header">
  <!--<img src="http://placehold.it/222x65" style="padding-top:12px;padding-left:357px;" />-->
  <div class="row" style="margin-left:360px;padding-top:22px;">
    <!--<div class="col-md-4"></div>-->
    <img src="http://placehold.it/53x53" style="margin-right:30px;" />
    <img src="http://placehold.it/180x33" />
  </div>
</div>
<!--<div class="body" style="padding-top:70px;">-->
  <!--<div class="loginPart" style="padding-left: 40px;padding-right:40px;padding-top:20px;">-->
    <!--<h4>账号登录</h4>-->
    <!--<form class="form-horizontal" role="form" style="margin-top:30px;">-->
      <!--<div class="form-group">-->
        <!--<div class="row">-->
          <!--<div class="col-md-2">-->
            <!--<img src="http://placehold.it/44x42" />-->
          <!--</div>-->
          <!--<div class="col-md-10">-->
            <!--<input type="text" class="form-control" placeholder="请输入手机号">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group" style="margin-bottom:20px;">-->
        <!--<div class="row">-->
          <!--<div class="col-md-2">-->
            <!--<img src="http://placehold.it/44x42" />-->
          <!--</div>-->
          <!--<div class="col-md-10">-->
            <!--<input type="password" class="form-control" placeholder="请输入登录密码">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="form-group" style="border:none;margin-bottom: 10px;">-->
        <!--<button class="btn btn-block btn-primary" style="width:296px;height:42px;border:none;font-size: 18px;">登录</button>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<a href="#nowhere" style="color:#ccc;float:left;" [routerLink]="['./findpwd']">忘记密码?</a>-->
        <!--<a href="#nowhere" [routerLink]="['/register']" class="yellow" style="color:#FFB717;float:right;">免费注册</a>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col-md-4" style="padding-left: 0;">-->
          <!--<div class="line"></div>-->
        <!--</div>-->
        <!--<div class="col-md-4" style="padding-right: 0;color:#A1A1A1;padding-left:10px;">其他方式登录</div>-->
        <!--<div class="col-md-4" style="padding-right: 0;">-->
          <!--<div class="line"></div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row" style="margin-top:20px;">-->
        <!--<div class="col-md-3"></div>-->
        <!--<div class="col-md-4">-->
          <!--<img src="http://placehold.it/18x17" />-->
          <!--<p>微信</p>-->
        <!--</div>-->
        <!--<div class="col-md-5" style="padding-left:20px;">-->
          <!--<img src="http://placehold.it/18x17" />-->
          <!--<p>QQ</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->

<!--</div>-->
<div class="row">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <p style="padding-left: 35%;padding-top:35px;text-decoration: none;">
    <a href="http://www.zlxmt.com" style="margin:0 20px;"><span style="color:#4DBECD;margin-right:5px;">©</span>2017 Emake Tech Co.Ltd All Rights Reserved</a>
    <a href="http://www.miibeian.gov.cn" style="margin-left:20px;">苏ICP备17015123号</a>
  </p>
</div>

