<!--<p>-->
  <!--register works!-->
<!--</p>-->
<div class="header">
  <img src="./assets/img/logo.png" style="padding-top:12px;padding-left:357px;" />
</div>
<div class="body" style="display: block;">
  <div class="step">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>1</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>填写基本信息</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round"><span>2</span></div>
          </div>
          <div class="col-md-10">
            <div class="line"></div>
          </div>
        </div>
        <div class="row">
          <span>完善资质认证</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round"><span>3</span></div>
          </div>
          <div class="col-md-10">
            <div class="line"></div>
          </div>
        </div>
        <div class="row">
          <span>等待客服审核</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round">
              <div class="round"><span>4</span></div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="line"></div>
          </div>
        </div>
        <div class="row">
          <span>审核完成</span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="regPart" style="margin-left: 38%;margin-top:20px;width:380px;">

    <span style="padding-left: 266px;color:#AEAEAE">已有账号？<a href="#nowhere" class="yellow">请登录</a></span>
    <form class="form-horizontal" role="form" style="margin-top:30px;">
      <div class="form-group">
        <span for="mobilenumber" class="col-md-3" style="padding-top: 10px;color:#000;">手机号码</span>
        <div class="col-md-6">
          <input type="text" class="form-control" id="mobilenumber" placeholder="请输入手机号">
        </div>
      </div>
      <div class="form-group">
        <span for="checkcode" class="col-md-3" style="padding-top: 10px;color:#000;">手机验证码</span>
        <div class="col-md-9">
          <div class="input-group">
            <input type="text" class="form-control" id="checkcode" placeholder="请输入手机验证码">
            <span class="input-group-btn">
                        <button class="btn btn-link" type="button" style="border:none;background: #f2f2f2;width:115%;height:43px;color:#6D6D6D;font-size:16px;text-decoration: none;">获取短信验证码</button>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <span for="password" class="col-md-3" style="padding-top: 10px;color:#000;">设置密码</span>
        <div class="col-md-6">
          <input type="password" class="form-control" id="password" placeholder="请输入密码">
        </div>
      </div>
      <div class="form-group">
        <span for="company" class="col-md-3" style="padding-top: 10px;color:#000;">公司名称</span>
        <div class="col-md-6">
          <input type="text" class="form-control" id="company" placeholder="请输入公司名称">
        </div>
      </div>
      <div class="form-group">
        <span for="contact" class="col-md-3" style="padding-top: 10px;color:#000;">联系人</span>
        <div class="col-md-6">
          <input type="text" class="form-control" id="contact" placeholder="请输入联系人">
        </div>
      </div>
      <div class="row" style="margin-top:40px;">
        <input type="checkbox" class="col-md-1">
        <div class="col-md-11" style="padding-right:0px;">
          <span style="color:#6D6D6D;">我已认真阅读并同意</span><a href="#nowhere" class="yellow"data-toggle="modal" data-target="#myModal" style="color:#FFB717;text-decoration: none;">《易智造云工厂竞标系统用户条款》</a>
          <p style="padding:10px 0;">会员认证还差一步，完善会员认证，即可开始参与竞标。</p>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">《易智造云工厂竞标系统用户条款》</h4>
          </div>
          <div class="modal-body">
            易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款易智造云工厂竞标系统用户条款
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <!--<button type="button" class="btn btn-primary">确定</button>-->
          </div>
          </div><!-- /.modal-content -->
          </div><!-- /.modal -->
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 20px;">
        <button type="submit" class="btn btn-block btn-primary" style="width:393px;height:42px;">下一步</button>
      </div>
    </form>
    <!--<div class="checkbox">-->
      <!--<label>-->
        <!--<input type="checkbox">-->
        <!--<span style="color:#6D6D6D;">我已认真阅读并同意</span><a class="yellow" style="color:#FFB717;text-decoration: none;">《易智造云工厂竞标系统用户条款》</a>-->

        <!--<span style="padding:10px 0;">会员认证还差一步，完善会员认证，即可开始参与竞标。</span>-->
      <!--</label>-->
    <!--</div>-->


  </div>
</div>
<div class="body" style="display: none;">
  <div class="step">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>1</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>填写基本信息</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>2</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>完善资质认证</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round"><span>3</span></div>
          </div>
          <div class="col-md-10">
            <div class="line"></div>
          </div>
        </div>
        <div class="row">
          <span>等待客服审核</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round">
              <div class="round"><span>4</span></div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="line"></div>
          </div>
        </div>
        <div class="row">
          <span>审核完成</span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="regPart" style="margin-left: 38%;margin-top:20px;width:380px;">

    <span style="padding-left: 266px;color:#AEAEAE">已有账号？<a href="#nowhere" class="yellow">请登录</a></span>
    <form class="form-horizontal" role="form" style="margin-top:30px;">
      <div class="form-group">
        <span class="col-md-3" style="padding-top: 10px;color:#000;">公司名称</span>
        <div class="col-md-9">
          <input type="text" class="form-control" id="companyName" placeholder="易虎网科技南京有限公司">
        </div>
      </div>
      <div class="form-group">
        <span class="col-md-3" style="padding-top: 10px;color:#000;">联系人</span>
        <div class="col-md-9">
          <!--<div class="input-group">-->
            <input type="text" class="form-control" id="name" placeholder="赵三">
            <!--<span class="input-group-btn">-->
                        <!--<button class="btn btn-link" type="button" style="border:none;background: #f2f2f2;width:115%;height:43px;color:#6D6D6D;font-size:16px;">获取短信验证码</button>-->
            <!--</span>-->
          <!--</div>-->
        </div>
      </div>
      <div class="form-group">
        <span class="col-md-3" style="padding-top: 10px;color:#000;">公司所在地</span>
        <div class="col-md-9">
          <input type="password" class="form-control" id="address" placeholder="请输入公司所在地">
        </div>
      </div>
      <div class="form-group">
        <span class="col-md-3" style="padding-top: 10px;color:#000;">经营类别</span>
        <div class="col-md-7">
          <input type="text" class="form-control" id="businessCategory" placeholder="请输入选择公司主营类别">
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default
                        dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">输配电类<span class="glyphicon glyphicon-chevron-right"></span></a>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a href="#">变压器</a>
                    </li>
                    <li>
                      <a href="#">断路器</a>
                    </li>
                    <li>
                      <a href="#">灯具</a>
                    </li>
                  </ul>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">电机</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">灯具</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">家具</a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">休闲食品</a>
                </li>
                <!--<li class="divider"></li>-->
                <!--<li>-->
                  <!--<a href="#">分离的链接</a>-->
                <!--</li>-->
              </ul>
            </div><!-- /btn-group -->
            <!--<input type="text" class="form-control" id="businessCategory">-->
          </div><!-- /input-group -->
        </div>
      </div>
      <div class="form-group">
        <span class="col-md-3" style="padding-top: 10px;color:#000;">联系人</span>
        <div class="col-md-6">
          <input type="text" class="form-control" id="contactPerson" placeholder="请输入联系人">
        </div>
      </div>
    </form>
    <div class="row" style="border: 1px solid #ccc;height:42px;">
      <span style="padding:0 10px;">型号</span>
      <input type="text" placeholder="SBH15" style="border: 1px solid #AEAEAE;padding-left:10px;margin-top:6px;margin-left:5px;margin-right:40px;height:30px;width:67px;">
      <span>产能</span>
      <input type="text" placeholder="100" style="border: 1px solid #AEAEAE;padding-left:10px;margin-top:6px;margin-left:5px;height:30px;width:67px;">
      <span>台/8小时</span>
      <button class="btn btn-link" style="float:right;"><i class="glyphicon glyphicon-plus"></i></button>
    </div>
    <div class="row" style="border: 1px solid #ccc;height:42px;border-top: none;">
      <span style="padding:0 10px;">型号</span>
      <input type="text" placeholder="SBH15" style="border: 1px solid #AEAEAE;padding-left:10px;margin-top:6px;margin-left:5px;margin-right:40px;height:30px;width:67px;">
      <span>产能</span>
      <input type="text" placeholder="100" style="border: 1px solid #AEAEAE;padding-left:10px;margin-top:6px;margin-left:5px;height:30px;width:67px;">
      <span>台/8小时</span>
      <button class="btn btn-link" style="float:right;"><i class="glyphicon glyphicon-minus"></i></button>
    </div>
    <div class="row" style="margin-top:30px;">
      <div class="col-md-3" style="padding-left:0;padding-right:0;">
        <img src="http://placehold.it/100x100">
        <p style="text-align: center;padding-top: 10px;">营业执照</p>
        <a href="#nowhere" style="color:#FFB717;text-decoration: underline">上传图片</a><a href="#nowhere" style="float:right;color:#FFB717;text-decoration: underline">删除</a>
      </div>
      <div class="col-md-3" style="padding-left:10px;padding-right:0;margin-left:40px;margin-right:62px;">
        <img src="http://placehold.it/100x100">
        <p style="text-align: center;padding-top: 10px;">体系认证</p>
        <a href="#nowhere" style="color:#FFB717;text-decoration: underline">上传图片</a><a href="#nowhere" style="float:right;color:#FFB717;text-decoration: underline">删除</a>
      </div>
      <div class="col-md-3" style="padding-left:0;padding-right:0;">
        <img src="http://placehold.it/100x100">
        <p style="text-align: center;padding-top: 10px;">产品资质</p>
        <a href="#nowhere" style="color:#FFB717;text-decoration: underline">上传图片</a><a href="#nowhere" style="float:right;color:#FFB717;text-decoration: underline">删除</a>
      </div>
    </div>
    <div class="row" style="margin-top:15px;color:#ccc;">
      <p>公司资质分三大类上传，每类可上传最多5张图片，图片大小限制为2M以内，图片格式支持JPG、PNG、GIF。</p>
    </div>
    <div class="row">
      <button class="btn btn-block btn-primary" style="height:42px;width:393px;margin-top:10px;">提交审核</button>
    </div>
  </div>


</div>
<div class="body" style="display: none;">
  <div class="step">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>1</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>填写基本信息</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>2</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>完善资质认证</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>3</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>等待客服审核</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round">
              <div class="round"><span>4</span></div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="line"></div>
          </div>
        </div>
        <div class="row">
          <span>审核完成</span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="regPart" style="margin-left: 35%;margin-top:20px;;">

    <span style="padding-left: 266px;color:#AEAEAE">已有账号？<a href="#nowhere" class="yellow">请登录</a></span>
    <div class="row">
      <img src="http://placehold.it/251x197"  style="margin-left: 100px;margin-top:120px;" />
      <p style="margin-left:120px;margin-top: 20px;margin-bottom: 0;">认证资质客服快速审核中，请稍等！</p>
      <span style="margin-left:150px;">客服热线：<a href="#nowhere" class="yellow">400-867-0211</a></span>
    </div>
    <div class="row">
      <button class="btn btn-lg btn-default" style="margin-left:150px;width:140px;height:40px;font-size:90%;margin-top: 30px;">返回首页</button>
    </div>


  </div>
</div>
<div class="body" style="display: none;">
  <div class="step">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>1</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>填写基本信息</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>2</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>完善资质认证</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>3</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>等待客服审核</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round">
              <div class="round blue"><span>4</span></div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>审核完成</span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>



  <div class="regPart" style="margin-left: 40%;margin-top:20px;;">

    <span style="padding-left: 266px;color:#AEAEAE">已有账号？<a href="#nowhere" class="yellow">请登录</a></span>
    <div class="row">
      <img src="http://placehold.it/106x93"  style="margin-left: 100px;margin-top:120px;" />
      <p style="margin-left:40px;margin-top: 20px;margin-bottom: 0;color:#FFB717;font-size:24px;">很抱歉，审核未通过！</p>
      <span>未通过原因：</span>
      <p>营业执照图片模糊不清晰，请重新上传。请提供正确的注册名称和营业执照。</p>
    </div>
  </div>
</div>


<div style="background-color: #fcc">
  <a href="javascript:;" [routerLink]="['./factoryinfo']">
    下一步
  </a>
  <router-outlet></router-outlet>
</div>



<div class="footer">
  <p style="padding-left: 35%;padding-top:35px;text-decoration: none;">
    <a href="http://www.zlxmt.com" style="margin:0 20px;">&copy;2017 Emake Tech Co.Ltd All Rights Reserved</a>
    <a href="http://www.miibeian.gov.cn" style="margin-left:20px;">苏ICP备17015123号</a>
  </p>
</div>

