<!--<p>-->
  <!--register works!-->
<!--</p>-->
<div class="header">
  <img src="http://placehold.it/222x65" style="padding-top:12px;padding-left:357px;" />
</div>

<div class="row">
  <router-outlet></router-outlet>
</div>



<!--<div style="background-color: #fcc">-->
  <!--<a href="javascript:;" [routerLink]="['./factoryinfo']">-->
    <!--下一步-->
  <!--</a>-->
  <!--&lt;!&ndash;<router-outlet></router-outlet>&ndash;&gt;-->
<!--</div>-->



<div class="footer">
  <p style="padding-left: 35%;padding-top:35px;text-decoration: none;">
    <a href="http://www.zlxmt.com" style="margin:0 20px;"><span style="color:#4DBECD;margin-right:5px;">©</span>2017 Emake Tech Co.Ltd All Rights Reserved</a>
    <a href="http://www.miibeian.gov.cn" style="margin-left:20px;">苏ICP备17015123号</a>
  </p>
</div>

