<header>

  <div class="headertop">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="nav navbar-nav dropdown">
          <button  type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="javascript:;" role="button" id="dropheader" data-toggle="dropdown" class="dropdown dropdown-toggle">
            江苏正泰有限公司&nbsp;&nbsp;&nbsp;A1001
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropheader">
            <li>11111</li>
          </ul>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><span >官网</span></li>
            <li><span class="border">我的订单</span></li>
            <li class="dropdown">
              <span>我的竞价</span>
              <!--<a id="drop1" href="javascript:;" data-toggle="dropdown" class="dropdown-toggle" role="button">-->
                <!--<span>我的竞价</span>-->
                <!--<span class="caret"></span>-->
              <!--</a>-->
              <!--<ul class="dropdown-menu" aria-labelledby="drop1">-->
                <!--<li>11111</li>-->
              <!--</ul>-->
            </li>

          </ul>
        </div>

      </div>
    </nav>

  </div>

  <div class="middle">
    <div>
      <img src="http://placehold.it/222x46" alt="易制造logo">
      <!--<img src="http://placehold.it/456x50" alt="">-->
      <div class="input-group">
        <span class="input-group-addon">
          <img src="http://placehold.it/30x30" alt="搜索">
        </span>
        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2">
        <span class="input-group-addon" id="basic-addon2">搜索</span>
      </div>
    </div>
  </div>
  <div class="submenu" [class.borderbom]="!showButton">

      <ul class="nav nav-tabs">
        <li class="dropdown open indexButton" *ngIf = "showButton">
          <button id="dropfirst" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" disabled>
            <span><img src="http://placehold.it/18x18" alt="图标"></span>
            <span>全部商品分类</span>
          </button>
          <ul class="dropdown-menu " aria-labelledby="dropfirst">
            <li>
              <span><img src="http://placehold.it/18x18" alt=""></span>
              <span>输配电</span>
              <span class="glyphicon glyphicon-menu-right pull-right"></span>
              <div class="gradient"></div>
            </li>
            <li>
              <span><img src="http://placehold.it/18x18" alt=""></span>
              <span>输配电</span>
              <span class="glyphicon glyphicon-menu-right pull-right"></span>
              <div class="gradient"></div>
            </li>
            <li>
              <span><img src="http://placehold.it/18x18" alt=""></span>
              <span>输配电</span>
              <span class="glyphicon glyphicon-menu-right pull-right"></span>
              <div class="gradient"></div>
            </li>
            <li>
              <span><img src="http://placehold.it/18x18" alt=""></span>
              <span>输配电</span>
              <span class="glyphicon glyphicon-menu-right pull-right"></span>
              <div class="gradient"></div>
            </li>
            <li>
              <span><img src="http://placehold.it/18x18" alt=""></span>
              <span>输配电</span>
              <span class="glyphicon glyphicon-menu-right pull-right"></span>
              <div class="gradient"></div>
            </li>
          </ul>


        </li>
        <li role="presentation" class="otherpage">
          <span>今日竞标</span>
        </li>
        <li role="presentation" class="otherpage">
          <span>今日询价</span>
        </li>
        <li role="presentation" class="otherpage">
          <span>历史竞标记录</span>
        </li>
      </ul>
    <!--</div>-->

  </div>
</header>
