$height: 50px;
$width: 1200px;
$color: #4cdbec;
$fontcolor: #363636;
$backcolorgl: #f8f8f9;
$backcolorgh: #e4e4e4;
$bordercolor: #949494;
a{
  text-decoration: none;
}
.headertop{
  .navbar-default {
    background-color: $backcolorgh;
    .container {

      @media screen and (min-width: 1200px) {
        width: $width;
      }
      padding: 0;
      .navbar-nav.dropdown {
        width: 222px;
        text-align: center;

        #dropheader{
          color: $fontcolor;
          font-size: 12px;

        }

      }
      line-height: $height;
      .navbar-collapse{
        ul {
          li:nth-of-type(1) {
            padding: 0 36px;
          }
          li:nth-of-type(3) {
            padding: 0 36px;
          }
          li:hover{
            background-color: #fff;
            box-sizing: border-box;
          }

        }
      }
    }

    .navbar-header {
      height: $height;
      line-height: $height;
      .navbar-collapse {
        height: $height;
        line-height: $height;
      }
    }
  }
}

.border {
  padding: 0 36px;
  border-left: 1px solid $bordercolor;
  border-right: 1px solid $bordercolor;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: #fff;
}
.middle {
  background-color: $backcolorgl;
  margin-top: $height;
  height: 160px;
  div {
    width: $width;
    height: 160px;
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    align-items: center;
    img{

    }
    .input-group {
      margin: 0;
      width: 456px;
      height: 50px;
      .form-control {
        margin: 0;
        padding: 0;
        height: 100%;
        border-left: 0;
        border-right: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-top: 1px solid $color;
        border-bottom: 1px solid $color;

      }
      .input-group-addon {
        height: 100%;
        border-top: 1px solid $color;
        border-bottom: 1px solid $color;
        line-height: 50px;
        padding: 0;

        //border-radius: 5px;
        &:nth-of-type(1){
          width: 80px;
          border-right: 0;
          background-color: #fff;
          border-left: 1px solid $color;

        }
        &:nth-of-type(2){
          border-left: 0;
          width:100px;
          background-color: $color;
          border-right: 1px solid $color;
          color: #fff;
        }
      }
    }
  }

}
div.submenu {
  background-color: $backcolorgl;
  ul.nav-tabs {
    margin: 0 auto;
    width: $width;
    height: 50px;
    li {
      height: 50px;
      line-height: 50px;
      color: $fontcolor;
      padding: 0 50px;
      font-size: 16px;
      a {
        padding: 0;
      }

      &:nth-of-type(1) {

        width: 222px;
        padding: 0 20px;
        background-color: $color;
        color: #fff;
        border-radius: 4px;
        font-size: 16px;
          #dropfirst {

            border: 0;
            background-color: $color;
          }
                span img{
                  margin-right: 14px;
                }
                .glyphicon {
                  line-height: 50px;
                }
        .dropdown-menu {
          width: 222px;
          background-color: rgba(40, 40, 40, 0.65);
          margin: 0;
          padding: 0;
          border-radius: 0;
          li {
            width: 100%;
            background-color: rgba(40, 40, 40, 0.65);
            margin: 0;
            padding: 0;
            border-radius: 0;
            padding: 0 20px;
            height: 80px;
            line-height: 80px;
            color: #fff;
            .gradient {
              height: 1px;
              background: -webkit-linear-gradient(left, rgba(255,255,255,0.2), #fff, rgba(255,255,255,0.2));
              background: -o-linear-gradient(left, rgba(255,255,255,0.2), #fff, rgba(255,255,255,0.2)); /* Opera 11.1 - 12.0 */
              background: -moz-linear-gradient(left, rgba(255,255,255,0.2), #fff, rgba(255,255,255,0.2)); /* Firefox 3.6 - 15 */
              background: linear-gradient(to right, rgba(255,255,255,0.2), #fff, rgba(255,255,255,0.2)); /* 标准的语法 */
              }
            .glyphicon {
              line-height: 80px;
            }
          }
        }
      }
    }
  }
  //nav {
  //  margin: 0 auto;
  //  width: $width;
  //  height: 50px;
  //  .container{
  //    @media screen and (min-width: 1200px) {
  //      width: $width;
  //    }
  //    padding: 0;
  //    .navbar-nav.dropdown {
  //      @media screen and (min-width: 990px){
  //        width: 222px;
  //        padding: 0 20px;
  //        background-color: $color;
  //      }
  //      @media (max-width: 990px) and (min-width: 768px){
  //
  //      }
  //      width: 222px;
  //      padding: 0 20px;
  //      background-color: $color;
  //
  //
  //      #dropcatagory {
  //        color: #fff;
  //        font-size: 16px;
  //        span img{
  //          margin-right: 14px;
  //        }
  //        .glyphicon {
  //          line-height: 50px;
  //        }
  //      }
  //      .dropdown-menu {
  //        width: 222px;
  //        background-color: rgba(40, 40, 40, 0.65);
  //        margin: 0;
  //        padding: 0;
  //        border-radius: 0;
  //        li {
  //          height: 80px;
  //          line-height:80px;
  //          margin: 0 20px;
  //          .gradient {
  //            height: 1px;
  //            background: -webkit-linear-gradient(left, rgba(255,255,255,0.2), #fff, rgba(255,255,255,0.2));
  //            background: -o-linear-gradient(left, rgba(255,255,255,0.2), #fff, rgba(255,255,255,0.2)); /* Opera 11.1 - 12.0 */
  //            background: -moz-linear-gradient(left, rgba(255,255,255,0.2), #fff, rgba(255,255,255,0.2)); /* Firefox 3.6 - 15 */
  //            background: linear-gradient(to right, rgba(255,255,255,0.2), #fff, rgba(255,255,255,0.2)); /* 标准的语法 */
  //          }
  //        }
  //      }
  //
  //    }
  //    .navbar-ex1-collapse {
  //      .nav {
  //        li {
  //          color: $fontcolor;
  //          padding: 0 50px;
  //        }
  //      }
  //
  //    }
  //
  //  }
  //}
  //.navbar {
  //  border: 0;
  //  line-height: $height;
  //  color: #fff;
  //  font-size: 16px;
  //  span img{
  //    margin-right: 14px;
  //  }
  //  .glyphicon {
  //    line-height: 80px;
  //  }
  //}
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: $color;
}
.nav > li > a:hover, .nav > li > a:focus {
  border: 0!important;
}
.nav > li > a {
  height: 50px;
  line-height: 50px!important;
}
