$width:38px;
$fontcolorg: #363636;
$color: #4cdbec;
$fontcolory: #FF9900;
$backcolorlg: #f8f8f9;
$backcolordg: #e4e4e4;
$bordercolor: #949494;
.aside {
  width: $width;
  height: 100%;
  background-color: $backcolordg;
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    //width: 30px;
    padding: 20px 4px;
    text-align: center;
    span {
      color: #fff;
      font-size: 14px;

    }
    .badge {
      background-color: #fff;
      color: $color;
    }
    &:nth-of-type(1) {
      background-color: $color;
    }
    &:nth-of-type(3) {
      background-color: $color;

    }
  }
}
