<div class="aside">
  <div>
    <span><img src="http://placehold.it/30x30" alt=""></span>
    <span>账号</span>
  </div>
  <div>
    <span><img src="http://placehold.it/30x30" alt=""></span>
    <span>客服</span>
  </div>
  <div>
    <span><img src="http://placehold.it/30x30" alt=""></span>
    <span>购<br/>物<br/>车</span>
    <span class="badge">4</span>
  </div>
  <div>
    <span><img src="http://placehold.it/30x30" alt=""></span>
    <span>帮助</span>
  </div>
  <div>
    <span class="glyphicon glyphicon-chevron-up"></span>
    <span>TOP</span>
  </div>
</div>
