<div class="list">
  <div class="list-item">
    <p>
      <span>变压器</span>
      <span>15:00-16:00</span>
      <button class="pull-right" (click) = "jumpTo()">更多</button>
    </p>
    <div class="goodslist">
      <div class="goodscontainer">
        <div>
          <img src="http://placehold.it/160x160" alt="">
          <div class="master">
          </div>
        </div>
        <p>SCBH15-100kVA</p>
        <p>订单量：<span>220</span>件</p>
      </div>
      <div class="goodscontainer">
        <div>
          <img src="http://placehold.it/160x160" alt="">
          <div class="master">
          </div>
        </div>
        <p>SCBH15-100kVA</p>
        <p>订单量：<span>220</span>件</p>
      </div>
      <div class="goodscontainer">
        <div>
          <img src="http://placehold.it/160x160" alt="">
          <div class="master">
          </div>
        </div>
        <p>SCBH15-100kVA</p>
        <p>订单量：<span>220</span>件</p>
      </div>
      <div class="goodscontainer">
        <div>
          <img src="http://placehold.it/160x160" alt="">
          <div class="master">
          </div>
        </div>
        <p>SCBH15-100kVA</p>
        <p>订单量：<span>220</span>件</p>
      </div>
      <div class="goodscontainer">
        <div>
          <img src="http://placehold.it/160x160" alt="">
          <div class="master">
          </div>
        </div>
        <p>SCBH15-100kVA</p>
        <p>订单量：<span>220</span>件</p>
      </div>
    </div>


  </div>
</div>
