.form-control {
  box-shadow: none;
  border:none;
}
label, span {
  color:#6D6D6D;
}
.btn-primary {
  background-color:#33cccc;
  border-color:#33cccc;
}
.btn-default {
  border:none;
}
.form-group label, .form-group input {
  height:42px;
  line-height:42px;
  text-align: left;
  vertical-align: baseline;
}
input {
  height:42px;
  line-height:42px;
  text-align: left;
  vertical-align: baseline;
  border:none;
  box-shadow: none;
}
.form-group {
  height:44px;
  vertical-align:middle;
  border:1px solid #ccc;
  margin-bottom: 30px;
}
input[type="radio"], input[type="checkbox"] {
  width:18px;
  height:18px;
  //color:#4DBECD;
}
