/* You can add global styles to this file, and also import other style files */
html, body, app-root, .site {
  margin: 0;
  width: 100%;
  height: 100%;
}
body{
  background-color: #f8f8f9;
}
ul,li,p,input{
  margin: 0;
  padding: 0;
}
.site {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

main {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.full-width {
  width: 100%;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

app-index {
  width: 100%!important;
}
.largeWindow .modal-dialog {
  max-width: 1200px !important;
}
.final-price .modal-content{
  width: 420px !important;height:310px !important;
}
