<!--<p>-->
  <!--wait-audit works!-->
<!--</p>-->
<div class="body">
  <div class="step">
    <div class="row" style="margin-right: 0;">
      <div class="col-md-2"></div>
      <app-step step="1" roundClass="round blue" lineClass="line on" label="填写基本信息"></app-step>
      <app-step step="2" roundClass="round blue" lineClass="line on" label="完善验厂认证"></app-step>
      <app-step step="3" roundClass="round blue" lineClass="line on" label="等待客服审核"></app-step>
      <app-step step="4" roundClass="round" lineClass="line" label="审核完成"></app-step>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="regPart" style="margin-left: 35%;margin-top:20px;;">

    <!--<span style="padding-left: 266px;color:#AEAEAE">已有账号？<a href="#nowhere" class="yellow">请登录</a></span>-->
    <div class="row">
      <img src="http://placehold.it/251x197"  style="margin-left: 100px;margin-top:120px;" />
      <p style="margin-left:140px;margin-top: 10px;margin-bottom: 0;">客服快速审核中，请稍等！</p>
      <span style="margin-left:140px;">客服热线：<a href="#nowhere" style="color:#4DBECD;">400-867-0211</a></span>
    </div>
    <div class="row">
      <a href="javascript:;" [routerLink]="['/index']" class="btn btn-lg btn-default" style="margin-left:150px;width:140px;height:40px;font-size:90%;margin-top: 30px;border: 1px solid #BCBCBC;">返回首页</a>
    </div>


  </div>
</div>
