<!--<p>-->
  <!--wait-audit works!-->
<!--</p>-->
<div class="body">
  <div class="step">
    <div class="row" style="margin-right: 0;">
      <div class="col-md-2"></div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>1</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>填写基本信息</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>2</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>完善资质认证</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round blue"><span>3</span></div>
          </div>
          <div class="col-md-10">
            <div class="line on"></div>
          </div>
        </div>
        <div class="row">
          <span>等待客服审核</span>
        </div>
      </div>
      <div class="col-md-2" style="padding-top:30px;">
        <div class="row">
          <div class="col-md-2">
            <div class="round">
              <div class="round"><span>4</span></div>
            </div>
          </div>
          <div class="col-md-10">
            <div class="line"></div>
          </div>
        </div>
        <div class="row">
          <span>审核完成</span>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <div class="regPart" style="margin-left: 35%;margin-top:20px;;">

    <!--<span style="padding-left: 266px;color:#AEAEAE">已有账号？<a href="#nowhere" class="yellow">请登录</a></span>-->
    <div class="row">
      <img src="http://placehold.it/251x197"  style="margin-left: 100px;margin-top:120px;" />
      <p style="margin-left:140px;margin-top: 10px;margin-bottom: 0;">客服快速审核中，请稍等！</p>
      <span style="margin-left:140px;">客服热线：<a href="#nowhere" style="color:#4DBECD;">400-867-0211</a></span>
    </div>
    <div class="row">
      <a href="javascript:;" [routerLink]="['/index']" class="btn btn-lg btn-default" style="margin-left:150px;width:140px;height:40px;font-size:90%;margin-top: 30px;border: 1px solid #CCEBF8;">返回首页</a>
    </div>


  </div>
</div>
