<div class="my-content">
  <header>竞标中</header>
  <div style="margin-bottom: 40px;">
    <div class="item-title">
      <div class="col-md-6">
        <div class="title">
          <span>2017-12-21</span><span class="time"> 11:12:45</span>
          <span>标题编号：15647985726667</span>
        </div>
      </div>
      <div class="col-md-6">
        <div style="width: 310px;float: right">
          <app-common-clock ></app-common-clock>
        </div>
      </div>
    </div>
    <div class="biding-content">
      <div class="pull-left" style="height: 106px;">
        <img src="http://placehold.it/78x78" alt="标的状态">
      </div>
      <div class="pull-left" style="width: 325px;height: 106px;">
        <div>SCBH15-200KV干式非晶合金变压器</div>
        <div>
          <small>国标</small><small>全铜</small><small>10/0.4KV</small><small>阻抗4%</small><small>温升100K</small>
        </div>
        <div>协议号：1234567890</div>
        <div class="count"><span>订单量：2000件</span><span style="margin-left: 20px;">交货期：2014-05-20</span></div>
      </div>
      <div class="pull-left center-text">
        <div>我出价：<span>￥2000.<small>00</small></span></div>
      </div>
      <div class="pull-left center-right">
        <div>
          <app-stepper class="pull-left" style="width: 190px;margin-left: -9px;"></app-stepper>
          <button class="btn btn-primary pull-left">我要竞标</button>
        </div>

        <div>
          <app-final-price></app-final-price>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom: 40px;">
    <div class="item-title">
      <div class="col-md-6">
        <div class="title">
          <span>2017-12-21</span><span class="time"> 11:12:45</span>
          <span>标题编号：15647985726667</span>
        </div>
      </div>
      <div class="col-md-6">
        <div style="width: 310px;float: right">
          <app-common-clock ></app-common-clock>
        </div>
      </div>
    </div>
    <div class="biding-content">
      <div class="pull-left" style="height: 106px;">
        <img src="http://placehold.it/78x78" alt="标的状态">
      </div>
      <div class="pull-left" style="width: 325px;height: 106px;">
        <div>SCBH15-200KV干式非晶合金变压器</div>
        <div>
          <small>国标</small><small>全铜</small><small>10/0.4KV</small><small>阻抗4%</small><small>温升100K</small>
        </div>
        <div>协议号：1234567890</div>
        <div class="count"><span>订单量：2000件</span><span style="margin-left: 20px;">交货期：2014-05-20</span></div>
      </div>
      <div class="pull-left center-text">
        <div>我出价：<span>￥2000.<small>00</small></span></div>
      </div>
      <div class="pull-left center-right">
        <div>
          <app-stepper class="pull-left" style="width: 190px;margin-left: -9px;"></app-stepper>
          <button class="btn btn-primary pull-left">我要竞标</button>
        </div>

        <div>
          <app-final-price></app-final-price>
        </div>
      </div>
    </div>
  </div>


</div>

