<section>
  <div class="re-header">
    <button class="title">历史竞价记录</button>
    <button class="btn btn-default pull-right">导出</button>

    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        选择时间 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;">最近七天</a></li>
        <li><a href="javascript:;">Another action</a></li>
        <li><a href="javascript:;">Something else here</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="javascript:;">Separated link</a></li>
      </ul>
    </div>

    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        选择品类 <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="javascript:;">变压器</a></li>
        <li><a href="javascript:;">断路器</a></li>
        <li><a href="javascript:;">Something else</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="javascript:;">Separated link</a></li>
      </ul>
    </div>
  </div>
  <div class="table">
    <table>
      <thead class="theader">
      <tr>
        <th>时间</th>
        <th>用户名称</th>
        <th>品类</th>
        <th>型号</th>
        <th>数量</th>
        <th>中标单价</th>
        <th>中标总价格</th>
        <th>云工厂编号</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1111</td>
        <td>1111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>11111</td>
        <td>111</td>
      </tr>
      <tr>
        <td>1111</td>
        <td>1111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>11111</td>
        <td>111</td>
      </tr>
      <tr>
        <td>1111</td>
        <td>1111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>11111</td>
        <td>111</td>
      </tr>
      <tr>
        <td>1111</td>
        <td>1111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>11111</td>
        <td>111</td>
      </tr>
      <tr>
        <td>1111</td>
        <td>1111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>11111</td>
        <td>111</td>
      </tr>
      <tr>
        <td>1111</td>
        <td>1111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>11111</td>
        <td>111</td>
      </tr>
      <tr>
        <td>1111</td>
        <td>1111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>11111</td>
        <td>111</td>
      </tr>
      <tr>
        <td>1111</td>
        <td>1111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>111</td>
        <td>11111</td>
        <td>111</td>
      </tr>
      <tr>
        <td>222</td>
        <td>2222</td>
        <td>2222</td>
        <td>222</td>
        <td>2222</td>
        <td>222</td>
        <td>222</td>
        <td>222</td>
      </tr>
      <tr>
        <td>3333333</td>
        <td>33333</td>
        <td>3333</td>
        <td>33</td>
        <td>33</td>
        <td>33</td>
        <td>33</td>
        <td>33333</td>
      </tr>
      </tbody>
    </table>
  </div>
</section>
