$height: 50px;
$width: 1200px;
$fontcolorg: #363636;
$color: #4cdbec;
$fontcolory: #FF9900;
$backcolorlg: #f8f8f9;
$backcolordg: #e4e4e4;
$bordercolor: #949494;
section {
  color: $fontcolorg;
  position: relative;
  .re-header {
    height: $height;
    line-height: $height;
    border-bottom: 2px solid $color;
    .title{
      width: 366px;
      background-color: $color;
      border: 0;
      padding: 0;
      color: #fff;
      font-size: 24px;
    }
    div {
      .btn-default {
        padding: 6px 46px;
        margin: 8px 10px 0 0;
      }
    }
    .btn-default {
      margin: 8px 10px 0 0;
    }

  }
  div.table {
    table {
      height: 300px;
      thead {
        height: 66px;
        line-height: 66px;
        display:table;
        width:100%;
        table-layout:fixed;
        &.theader {
          width: calc( 100% - 1em );
          width: -webkit-calc( 100% - 1em );
          width: -moz-calc( 100% - 1em );
        }
        th {
          text-align: center;
          font-weight: 400;
          color: $fontcolorg;
        }
      }
      tbody {
        overflow-y: scroll;
        display: block;
        height: 300px;
        tr {
          height: 66px;
          line-height: 66px;
          display:table;
          width:100%;
          table-layout:fixed;
          text-align: center;
          color: $fontcolorg;
          td {
            border-top: 1px solid #e4e4e4;
          }

        }
      }
    }
  }

}
